.salesReportDashlet {
    background: whitesmoke !important;
    padding: 5px 5px 5px 5px !important;
}

.salesReportDashlet .panel {
    margin: 5px 5px 5px 5px !important;
}

.chart-area {
    padding: 20px 20px 20px 20px !important;
}

.chart-header {
    background-color: white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 100% !important;
    padding-top: 15px !important;
}

.chart-title {
    color: black !important;
    border-bottom: 1px solid #ffd800 !important;
    background: white !important;
    width: 100%;
    height: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-weight: bold !important;
}
.chart-legend {
    width: 100%;
    height: 20px;
    display: block;
    margin-bottom: 5px;
}
.kpiArea, .commissionArea {
    background-color: white !important;
    width: 95% !important;
    height: 95% !important;
}

.commissionArea label {
    margin-top: 25%;
    margin-bottom: 25%;
    font-size: 25px;
    width: 100%;
}

.text-black {
    color: black !important;
}

.ui-datepicker-trigger {
    margin-left: 5px !important;
}