
/* Button used to open the contact form - fixed at the bottom of the page */

.features-table
{
width: 100%;
margin: 0 auto;
border-collapse: separate;
border-spacing: 0;
text-shadow: 0 1px 0 #fff;
color: #2a2a2a;
background: #fafafa;
background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
}
 
.features-table td
{
height: 50px;
line-height: 50px;
padding: 0 20px;
border-bottom: 1px solid #cdcdcd;
box-shadow: 0 1px 0 white;
-moz-box-shadow: 0 1px 0 white;
-webkit-box-shadow: 0 1px 0 white;
white-space: nowrap;
text-align: center;
}
 
/*Body*/
.features-table tbody td
{
text-align: center;
font: normal 12px Verdana, Arial, Helvetica;
width: 150px;
}
 
.features-table tbody td:first-child
{
width: auto;
text-align: left;
}
 
.features-table td:nth-child(2), .features-table td:nth-child(3)
{
background: #efefef;
background: rgba(144,144,144,0.15);
border-right: 1px solid white;
}
 
 
.features-table td:nth-child(4)
{
background: #e7f3d4;
background: rgba(184,243,85,0.3);
}
 
/*Header*/
.features-table thead td
{
font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-top: 1px solid #eaeaea;
}
 
.features-table thead td:first-child
{
border-top: none;
}
 
/*Footer*/
.features-table tfoot td
{
font: bold 1.4em Georgia;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom: 1px solid #dadada;
}
 
.features-table tfoot td:first-child
{
border-bottom: none;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 7px;
  right: 15px;
  z-index: 9;
  width: 400px;
  background: #3e4e5a;
  padding: 6px;
}

#hide_popup {
 display: none;
 position: fixed;
 bottom: 21px;
 right: 30px;
 z-index: 10;
 font-size: 41px;
 color: #03a9f4;
 cursor: pointer;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container-popup input[type=text], .form-container-popup textarea[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 14px 0;
  border: none;
  background: #f1f1f1;
}

.form-container-popup input[type=text]:focus, .form-container-popup textarea[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.grid_1 {width: 6.5%;} /* 65px */
.grid_2 {width: 15%;} /* 150px */
.grid_3 {width: 23.5%;} /* 235px */
.grid_4 {width: 32%;} /* 320px */
.grid_5 {width: 40.5%;} /* 405px */
.grid_6 {width: 49%;} /* 490px */
.grid_7 {width: 57.5%;} /* 575px */
.grid_8 {width: 66%;} /* 660px */
.grid_9 {width: 74.5%;} /* 745px */
.grid_10 {width: 83%;} /* 830px */
.grid_11 {width: 91.5%;} /* 915px */
.grid_12 {width: 100%;} /* 1000px */


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 2% 0 0; /* 20px */
	float: left;
	display: block;
	/*background-color:green;*/
}

.alpha {margin-left:0;}
.omega {margin-right:0;}

.wrap {
	width: 100%; /*width: 1400px;*/
	/*max-width: 1100px;*/
	margin: auto;
}




.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

.head-form {
  background-color: #03A9F4;
}
.form-container-popup .head-form .cot {
  padding: 10px;
  text-align: center;
}
.head-form .col-sm-3 .glyphicon {
  font-size: 20px;
  border: 2px solid white;
  border-radius: 32px;
  padding: 10px;
  color: white;
}
#tenkh {
  font-size: 14px;
  font-weight: 800;
  font-family: monospace;
  color: #fff;
}

#direction {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 800;
  font-family: monospace;
  color: #dfe7ea;
}

.head-form .col-sm-5 p {
  text-align: left;
  color: white;
}
#dot {
  width: 8px;
  height: 8px;
  background-color: #6ce671;
  border-radius: 5px;
  display: inline-block;
  margin: 3px 5px 2px 2px;
}
#time_count {
  font-size: 19px;
  color: white;
}
#time_count span,#time_label span {
  margin: 0px 3px;
}
#time_label {
  font-size: 15px;
  color: white;
}

#myForm .btn-primary {
  background: #03a9f4;
  margin-left: 5px;
  margin-right: 11px;
  width: 39px;
}

.form-container-popup .action-btn1 {
  padding: 5px 8px;
  font-size: 17px;
}
.form-container-popup .action-btn2 {
  font-size: 17px;
}
.form-container-popup .action-btn3 {
  padding: 5px 8px;
  font-size: 14px;
}

#quickCreateView {
  position: absolute;
  z-index: 9999;
  width: 800px;
  top: 83px;
  left: 98px;
  background: white;
  padding: 0 10px 10px 10px;
  display: none;
}
#quickCreateView #form_SubpanelQuickCreate_Prospects > table,#quickCreateView #form_SubpanelQuickCreate_Leads > table, #form_SubpanelQuickCreate_Contacts > table, #quickCreateView table.dcQuickEdit, #quickCreateView #Leads_subpanel_cancel_button, #quickCreateView #Leads_subpanel_full_form_button, #quickCreateView #Opportunities_subpanel_full_form_button, #quickCreateView #Opportunities_subpanel_cancel_button, #quickCreateView #Meetings_subpanel_cancel_button, #quickCreateView #Meetings_subpanel_full_form_button,#quickCreateView #Cases_subpanel_cancel_button,#quickCreateView #Cases_subpanel_full_form_button, #quickCreateView #Prospects_subpanel_cancel_button, #quickCreateView #Prospects_subpanel_full_form_button, #quickCreateView #Contacts_subpanel_cancel_button, #quickCreateView #Contacts_subpanel_full_form_button,#quickCreateView #form_SubpanelQuickCreate_Accounts > table,#quickCreateView #Accounts_subpanel_cancel_button, #quickCreateView #Accounts_subpanel_full_form_button{
  display: none;
}
