#table_addpassengers {
    width: 100%;
    border: 1px solid white; /* Đường viền đơn màu đen */
    border-collapse: collapse; /* Đảm bảo việc gộp các đường viền nếu có */
}

.line td , .thline td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: black;
    border: 1px solid white; /* Đường viền đơn màu đen */
    border-collapse: collapse; /* Đảm bảo việc gộp các đường viền nếu có */

}
.line2 td , .thline td {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    border: 1px solid white; /* Đường viền đơn màu đen */
    border-collapse: collapse; /* Đảm bảo việc gộp các đường viền nếu có */

}
.thline th {
    text-align: center;
    background-color: #eeefef;
}

.thline td {
    text-align: center;
    background-color: #eeefef;
}
.english-text {
    color: red;
}
.btn_addlins {
    margin-top: 10px;
    float: right; /* Nằm ở phía bên phải */
  
}

#tab {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    color: white;
    background-color: #31617c;
}

/* CSS cho nút "Copy" */
#copyBtn {
    cursor: pointer;
    margin-right: 10px;
}

/* CSS cho ô checkbox */
#checkbox {
    margin-top: 10px;
}

input.passenger_std_sta[type="datetime-local"] {
    /* Đặt thuộc tính CSS cho các phần tử input có class passenger_std_sta và type là date */
    /* Ví dụ: */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    background-color: #d8f5ee;
    /* Thêm các thuộc tính CSS khác tùy thuộc vào yêu cầu của bạn */
    color: #3c3c3c;
}

.services {
    overflow-wrap: break-word; /* hoặc sử dụng word-wrap */
    /* Đảm bảo textarea không cuộn ngang */
    white-space: normal; 
}



.search-tab {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        width: 200px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        margin-left: 10px;
    }
    .search-tab ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .search-tab li {
        padding: 10px;
        cursor: pointer;
        color: black; /* Màu chữ mặc định */
    }
    .search-tab li:hover {
        background-color: #f0f0f0; /* Màu nền khi di chuột qua */
    }
    /* Màu chữ cho từng loại thông tin */
    .name {
        color: black; /* Màu chữ cho tên */
        font-weight: bold;
    }
    .passport {
        color: black; /* Màu chữ cho passport */
        color: red;
        font-weight: bold;
    }

 /*relationship  */
   

.highlight {
    background-color: rgb(120 255 109);
}


.dropdown-list {
    /* CSS tùy chỉnh cho dropdown */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    background-color: white;
    max-height: 200px;
    width: 350px;
    overflow-y: auto;
    z-index: 1000; /* Giá trị z-index cao hơn để đảm bảo nằm trên các phần tử khác */
}

.dropdown-list li {
    /* CSS cho mỗi mục trong dropdown */
    padding: 8px 12px;
    cursor: pointer;
    color: black;
}

.dropdown-list li:hover {
    /* Hiệu ứng khi di chuột qua */
    background-color: #f0f0f0;
}

.code {
    color: red;
    font-weight: bold;
}

/* end */


@media (max-width: 500px) {
    #table_addpassengers tr,
    #table_addpassengers th,
    #table_addpassengers td,
    #table_addpassengers input {
        font-size: 9px;

    }
}
