<!--
/**
 *
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.
 *
 * SuiteCRM is an extension to SugarCRM Community Edition developed by SalesAgility Ltd.
 * Copyright (C) 2011 - 2018 SalesAgility Ltd.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 *
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
 * reasonably feasible for technical reasons, the Appropriate Legal Notices must
 * display the words "Powered by SugarCRM" and "Supercharged by SuiteCRM".
 */
-->
<!-- BEGIN: Quote_Subject -->
<p>SuiteCRM Quote - {QUOTE_SUBJECT}</p>
<!-- END: Quote_Subject -->
<!-- BEGIN: Quote -->
<p><b>{ASSIGNER}</b> has assigned a Quote to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {QUOTE_SUBJECT}<br/>
Status: {QUOTE_STATUS}<br/>
Expected Close Date: {QUOTE_CLOSEDATE}<br/>
Description: {QUOTE_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Quote</a>.</p>
<!-- END: Quote -->

<!-- BEGIN: Account_Subject -->
<p>SuiteCRM Account - {ACCOUNT_NAME}</p>
<!-- END: Account_Subject -->
<!-- BEGIN: Account -->
<p><b>{ASSIGNER}</b> has assigned an Account to <b>{ASSIGNED_USER}</b>.</p>
<p>
Name: {ACCOUNT_NAME}<br/>
Type: {ACCOUNT_TYPE}<br/>
Description: {ACCOUNT_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Account</a>.</p>
<!-- END: Account -->

<!-- BEGIN: Case_Subject -->
<p>SuiteCRM Case - {CASE_SUBJECT}</p>
<!-- END: Case_Subject -->
<!-- BEGIN: Case -->
<p><b>{ASSIGNER}</b> has assigned a Case to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {CASE_SUBJECT}<br/>
Priority: {CASE_PRIORITY}<br/>
Status: {CASE_STATUS}<br/>
Description: {CASE_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Case</a>.</p>
<!-- END: Case -->

<!-- BEGIN: Task_Subject -->
<p>SuiteCRM Task - {TASK_SUBJECT}</p>
<!-- END: Task_Subject -->
<!-- BEGIN: Task -->
<p><b>{ASSIGNER}</b> has assigned a Task to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {TASK_SUBJECT}<br/>
Priority: {TASK_PRIORITY}<br/>
Due Date: {TASK_DUEDATE}<br/>
Status: {TASK_STATUS}<br/>
Description: {TASK_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Task</a>.</p>
<!-- END: Task -->

<!-- BEGIN: Meeting_Subject -->
<p>SuiteCRM Meeting - {MEETING_SUBJECT}</p>
<!-- END: Meeting_Subject -->
<!-- BEGIN: Meeting -->
<p>To: {MEETING_TO}</p>
<p><b>{ASSIGNER}</b> has invited you to a Meeting</p>
<p>
Subject: {MEETING_SUBJECT}<br/>
Location: {MEETING_LOCATION}<br/>
Start Date: {MEETING_STARTDATE}<br/>
End Date: {MEETING_ENDDATE}
</p>
<p>
<!-- BEGIN: Meeting_External_API -->
Meeting URL: {MEETING_URL}
</p>
<!-- END: Meeting_External_API -->
<p>Description: {MEETING_DESCRIPTION}<br/>
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Accept this meeting</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Tentatively Accept this meeting</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Decline this meeting</a>.</p>
<!-- END: Meeting -->

<!-- BEGIN: MeetingSpecial_Subject -->
<p>SuiteCRM Meeting - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingSpecial -->
<p><b>{ASSIGNER}</b> has assigned a Meeting to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {MEETING_SUBJECT}<br/>
Location: {MEETING_LOCATION}<br/>
Status: {MEETING_STATUS}<br/>
Start Date: {MEETING_STARTDATE}<br/>
End Date: {MEETING_ENDDATE}<br/>
Description: {MEETING_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Meeting</a>.</p>
<!-- END: MeetingSpecial -->

<!-- BEGIN: MeetingReminder_Subject -->
<p>Meeting Reminder - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingReminder -->
<p>
Title: {MEETING_SUBJECT}<br/>
When: {MEETING_STARTDATE}<br/>
Location: {MEETING_LOCATION}<br/>
Created By: {MEETING_CREATED_BY}</br>
Contact: {MEETING_CONTACT}<br/>
Mobile: {MEETING_PHONE}<br/>
Address: {MEETING_ADDRESS}<br/>
Company: {MEETING_NAME}

</p>
<!-- END: MeetingReminder -->

<!-- BEGIN: Email_Subject -->
<p>SuiteCRM Email - {EMAIL_SUBJECT}</p>
<!-- END: Email_Subject -->
<!-- BEGIN: Email -->
<p><b>{ASSIGNER}</b> has assigned an Email to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {EMAIL_SUBJECT}<br/>
Date Sent: {EMAIL_DATESENT}
</p>
<p>You may <a href={URL}>review this Email</a>.</p>
<!-- END: Email -->

<!-- BEGIN: Contact_Subject -->
<p>SuiteCRM Contact - {CONTACT_NAME}</p>
<!-- END: Contact_Subject -->
<!-- BEGIN: Contact -->
<p><b>{ASSIGNER}</b> has assigned a Contact to <b>{ASSIGNED_USER}</b>.</p>
<p>
Name: {CONTACT_NAME}<br/>
Description: {CONTACT_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Contact</a>.</p>
<!-- END: Contact -->

<!-- BEGIN: Lead_Subject -->
<p>SuiteCRM Lead - {LEAD_NAME}</p>
<!-- END: Lead_Subject -->
<!-- BEGIN: Lead -->
<p><b>{ASSIGNER}</b> has assigned a Lead to <b>{ASSIGNED_USER}</b>.</p>
<p>
Name: {LEAD_NAME}<br/>
Lead Source: {LEAD_SOURCE}<br/>
Status: {LEAD_STATUS}<br/>
Description: {LEAD_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Lead</a>.</p>
<!-- END: Lead -->

<!-- BEGIN: Opportunity_Subject -->
<p>SuiteCRM Opportunity - {OPPORTUNITY_NAME}</p>
<!-- END: Opportunity_Subject -->
<!-- BEGIN: Opportunity -->
<p><b>{ASSIGNER}</b> has assigned an Opportunity to <b>{ASSIGNED_USER}</b>.</p>
<p>
Name: {OPPORTUNITY_NAME}<br/>
Amount: {OPPORTUNITY_AMOUNT}<br/>
Expected Close Date: {OPPORTUNITY_CLOSEDATE}<br/>
Sales Stage: {OPPORTUNITY_STAGE}<br/>
Description: {OPPORTUNITY_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Opportunity</a>.</p>
<!-- END: Opportunity -->

<!-- BEGIN: Bug_Subject -->
<p>SuiteCRM Bug - {BUG_SUBJECT}</p>
<!-- END: Bug_Subject -->
<!-- BEGIN: Bug -->
<p><b>{ASSIGNER}</b> has assigned a Bug to <b>{ASSIGNED_USER}</b>.</p>
<p>
Bug Number: {BUG_BUG_NUMBER}<br/>
Subject: {BUG_SUBJECT}<br/>
Type: {BUG_TYPE}<br/>
Priority: {BUG_PRIORITY}<br/>
Status: {BUG_STATUS}<br/>
Resolution: {BUG_RESOLUTION}<br/>
Release: {BUG_RELEASE}<br/>
Description: {BUG_DESCRIPTION}<br/>
Work Log: {BUG_WORK_LOG}
</p>
<p>You may <a href={URL}>review this Bug</a>.</p>
<!-- END: Bug -->

<!-- BEGIN: Default_Subject -->
<p>SuiteCRM - Assigned {OBJECT}</p>
<!-- END: Default_Subject -->
<!-- BEGIN: Default -->
<p><b>{ASSIGNER}</b> has assigned a(n) {OBJECT} to <b>{ASSIGNED_USER}</b>.</p>
<p>You may <a href={URL}>review this {OBJECT}</a>.</p>
<!-- END: Default -->

<!-- BEGIN: Call_Subject -->
<p>SuiteCRM Call - {CALL_SUBJECT}</p>
<!-- END: Call_Subject -->
<!-- BEGIN: Call -->
<p>To: {CALL_TO}</p>
<p><b>{ASSIGNER}</b> has invited you to a Call</p>
<p>
Subject: {CALL_SUBJECT}<br/>
Status: {CALL_STATUS}<br/>
Start Date: {CALL_STARTDATE}<br/>
Duration: {CALL_HOURS}h, {CALL_MINUTES}m<br/>
Description: {CALL_DESCRIPTION}<br/>
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Accept this call</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Tentatively Accept this call</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Decline this call</a>.</p>
<!-- END: Call -->

<!-- BEGIN: CallSpecial_Subject -->
<p>SuiteCRM Call - {CALL_SUBJECT}</p>
<!-- END: CallSpecial_Subject -->
<!-- BEGIN: CallSpecial -->
<p><b>{ASSIGNER}</b> has assigned a Call to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {CALL_SUBJECT}<br/>
Status: {CALL_STATUS}<br/>
Start Date: {CALL_STARTDATE}<br/>
Duration: {CALL_HOURS}h, {CALL_MINUTES}m<br/>
Description: {CALL_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Call</a>.</p>
<!-- END: CallSpecial -->

<!-- BEGIN: CallReminder_Subject -->
<p>Call Reminder - {CALL_SUBJECT}</p>
<!-- END: CallReminder_Subject -->
<!-- BEGIN: CallReminder -->
<p>
Title: {CALL_SUBJECT}<br/>
When: {CALL_STARTDATE}<br/>
Created By: {CALL_CREATED_BY}<br/>
Location: {CALL_LOCATION}<br/>
Contact: {CALL_CONTACT}<br/>
Mobile: {CALL_PHONE}<br/>
Address: {CALL_ADDRESS}<br/>
Company: {CALL_NAME}
</p>
<!-- END: CallReminder -->

<!-- BEGIN: Campaign_Subject -->
<p>SuiteCRM Campaign - {CAMPAIGN_NAME}</p>
<!-- END: Campaign_Subject -->
<!-- BEGIN: Campaign -->
<p><b>{ASSIGNER}</b> has assigned a Campaign to <b>{ASSIGNED_USER}</b>.</p>
<p>
Subject: {CAMPAIGN_NAME}<br/>
Amount: {CAMPAIGN_AMOUNT}<br/>
Close Date: {CAMPAIGN_CLOSEDATE}<br/>
Status: {CAMPAIGN_STATUS}<br/>
Description: {CAMPAIGN_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Campaign</a>.</p>
<!-- END: Campaign -->

<!-- BEGIN: Quota_Subject -->
<p>SuiteCRM Quotas - Your Quota for {QUOTA_TIMEPERIOD}</p>
<!-- END: Quota_Subject -->
<!-- BEGIN: Quota -->
<p><b>{ASSIGNER}</b> has assigned a Quota to <b>{ASSIGNED_USER}</b>.</p>
<p>
    Amount: {QUOTA_AMOUNT}<br/>
    Timeperiod: {QUOTA_TIMEPERIOD}
</p>
<p>You may <a href={QUOTA_URL}>review this Quota assignment</a>.</p>
<!-- END: Quota -->

<!-- BEGIN: KBDocument_Subject -->
<p>SuiteCRM Document - {KBDOCUMENT_NAME}</p>
<!-- END: KBDocument_Subject -->
<!-- BEGIN: KBDocument -->
{NOTIFICATION_MESSAGE}

<p>
Name: {KBDOCUMENT_NAME}<br/>
Created Date: {KBDOCUMENT_DATE_CREATED}<br/>
Created By: {KBDOCUMENT_CREATED_BY}<br/>
Status: {KBDOCUMENT_STATUS}<br/>
Description: {KBDOCUMENT_DESCRIPTION}
</p>
<p>You may <a href={URL}>review this Document</a>.</p>
<!-- END: KBDocument -->

<!-- BEGIN: Contract_Subject -->
<p>SuiteCRM Contract - {CONTRACT_NAME}</p>
<!-- END: Contract_Subject -->
<!-- BEGIN: Contract-->
<p><b>{ASSIGNER}</b> has assigned a Contract to <b>{ASSIGNED_USER}</b>.</p>
<p>You may <a href={URL}>review this Contract</a>.</p>
<!-- END:Contract-->

<!-- BEGIN: ContractSpecial_Subject -->
<p>SuiteCRM Contract - {CONTRACT_NAME}</p>
<!-- END: ContractSpecial_Subject -->
<!-- BEGIN: ContractSpecial -->
<p>Your Contract: {CONTRACT_NAME} will be out of date at {CONTRACT_END_DATE}.</p>
<p>You may <a href={URL}>review this Contract</a>.</p>
<!-- END:ContractSpecial-->
