<!--
/**
 *
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.
 *
 * SuiteCRM is an extension to SugarCRM Community Edition developed by SalesAgility Ltd.
 * Copyright (C) 2011 - 2019 SalesAgility Ltd.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 *
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
 * reasonably feasible for technical reasons, the Appropriate Legal Notices must
 * display the words "Powered by SugarCRM" and "Supercharged by SuiteCRM".
 */
-->
<!-- BEGIN: Quote_Subject -->
<p>Trích dẫn SuiteCRM - {QUOTE_SUBJECT}</p>
<!-- END: Quote_Subject -->
<!-- BEGIN: Quote -->
<p><b>{ASSIGNER}</b> Đã phân bổ Báo giá cho <b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {QUOTE_SUBJECT}<br /> 
Trạng thái: {QUOTE_STATUS}<br /> 
Dự kiến hoàn thành ngày: {QUOTE_CLOSEDATE}<br /> 
Mô tả: {QUOTE_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem Báo giá này</a>.</p>
<!-- END: Quote -->

<!-- BEGIN: Account_Subject -->
<p>Tài khoản SuiteCRM - {ACCOUNT_NAME}</p>
<!-- END: Account_Subject -->
<!-- BEGIN: Account -->
<p><b>{ASSIGNER}</b> đã chỉ định một tài khoản cho <b>{ASSIGNED_USER}</b>.</p>
<p>
Tên: {ACCOUNT_NAME} <br /> 
Loại: {ACCOUNT_TYPE}<br /> 
Mô tả: {ACCOUNT_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét tài khoản này</a>.</p>
<!-- END: Account -->

<!-- BEGIN: Case_Subject -->
<p>Trường hợp SuiteCRM - {CASE_SUBJECT}</p>
<!-- END: Case_Subject -->
<!-- BEGIN: Case -->
<p><b>{ASSIGNER}</b> đã giao một trường hợp cho<b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {CASE_SUBJECT}<br />
Mức độ ưu tiên: {CASE_PRIORITY}<br />
Trạng thái: {CASE_STATUS}<br />
Mô tả: {CASE_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét trường hợp này</a>.</p>
<!-- END: Case -->

<!-- BEGIN: Task_Subject -->
<p>Nhiệm vụ SuiteCRM - {TASK_SUBJECT}</p>
<!-- END: Task_Subject -->
<!-- BEGIN: Task -->
<p><b>{ASSIGNER}</b> đã giao một nhiệm vụ để <b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {TASK_SUBJECT}<br />
Ưu tiên: {TASK_PRIORITY}<br /> 
Ngày đáo hạn: {TASK_DUEDATE}<br /> 
Trạng thái: {TASK_STATUS}<br /> 
Mô tả: {TASK_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem lại các nhiệm vụ này</a>.</p>
<!-- END: Task -->

<!-- BEGIN: Meeting_Subject -->
<p>Hội họp SuiteCRM - {MEETING_SUBJECT}</p>
<!-- END: Meeting_Subject -->
<!-- BEGIN: Meeting -->
<p>Đến: {MEETING_TO}</p>
<p><b>{ASSIGNER}</b> đã mời bạn đến một cuộc họp</p>
<p>
Chủ đề: {MEETING_SUBJECT}<br />
Vị trí: {MEETING_LOCATION}<br /> 
Ngày bắt đầu: {MEETING_STARTDATE}<br /> 
Ngày kết thúc: {MEETING_ENDDATE}
</p>
<p>
<!-- BEGIN: Meeting_External_API -->
Cuộc họp URL: {MEETING_URL}
</p>
<!-- END: Meeting_External_API -->
<p>Mô tả: {MEETING_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Chấp nhận cuộc họp</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Tạm chấp nhận cuộc họp</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Từ chối cuộc họp này</a>.</p>
<!-- END: Meeting -->

<!-- BEGIN: MeetingSpecial_Subject -->
<p>Hội họp SuiteCRM - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingSpecial -->
<p><b>{ASSIGNER}</b> đã chỉ định một cuộc họp để <b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {MEETING_SUBJECT}<br /> 
Vị trí: {MEETING_LOCATION}<br /> 
Trạng thái: {MEETING_STATUS}<br /> 
Ngày bắt đầu: {MEETING_STARTDATE}<br /> 
Ngày kết thúc: {MEETING_ENDDATE}<br /> 
Mô tả: {MEETING_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét lại cuộc họp này</a>.</p>
<!-- END: MeetingSpecial -->

<!-- BEGIN: MeetingReminder_Subject -->
<p>Nhắc nhở cuộc họp - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingReminder -->
<p>
    Tiêu đề: {MEETING_SUBJECT}<br />
    Khi: {MEETING_STARTDATE}<br />
    Vị trí: {MEETING_LOCATION}<br />
    Tạo bởi: {MEETING_CREATED_BY}<br />
    Tên liên hệ: {MEETING_CONTACT}<br/>
	Di động: {MEETING_PHONE}<br/>
	Địa chỉ: {MEETING_ADDRESS}<br/>
	Công ty: {MEETING_NAME}
</p>
<!-- END: MeetingReminder -->

<!-- BEGIN: Email_Subject -->
<p>SuiteCRM Email - {EMAIL_SUBJECT}</p>
<!-- END: Email_Subject -->
<!-- BEGIN: Email -->
<p><b>{ASSIGNER}</b> đã chỉ định một Email đến <b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {EMAIL_SUBJECT}<br /> 
Gửi ngày: {EMAIL_DATESENT}
</p>
<p>Bạn có thể <a href={URL}>xem lại Email này</a>.</p>
<!-- END: Email -->

<!-- BEGIN: Contact_Subject -->
<p>Liên hệ SuiteCRM - {CONTACT_NAME}</p>
<!-- END: Contact_Subject -->
<!-- BEGIN: Contact -->
<p><b>{ASSIGNER}</b> đã chỉ định một số liên lạc để <b>{ASSIGNED_USER}</b>.</p>
<p>
Tên: {CONTACT_NAME}<br /> 
Mô tả: {CONTACT_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem lại liên hệ này</a>.</p>
<!-- END: Contact -->

<!-- BEGIN: Lead_Subject -->
<p>Đầu mối SuiteCRM - {LEAD_NAME}</p>
<!-- END: Lead_Subject -->
<!-- BEGIN: Lead -->
<p><b>{ASSIGNER}</b> đã chỉ định một chỉ dẫn để <b>{ASSIGNED_USER}</b>.</p>
<p>
Tên: {LEAD_NAME}<br /> 
Dẫn nguồn: {LEAD_SOURCE}<br /> 
Trạng thái: {LEAD_STATUS}<br /> 
Mô tả: {LEAD_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét Đầu mối điều này</a>.</p>
<!-- END: Lead -->

<!-- BEGIN: Opportunity_Subject -->
<p>Cơ hội SuiteCRM - {OPPORTUNITY_NAME}</p>
<!-- END: Opportunity_Subject -->
<!-- BEGIN: Opportunity -->
<p><b>{ASSIGNER}</b> đã chỉ định một cơ hội để <b>{ASSIGNED_USER}</b>.</p>
<p>
Tên: {OPPORTUNITY_NAME}<br /> 
Ước lượng: {OPPORTUNITY_AMOUNT}<br /> 
Dự kiến sẽ đóng ngày: {OPPORTUNITY_CLOSEDATE}<br /> 
Giai đoạn bán hàng: {OPPORTUNITY_STAGE}<br /> 
Mô tả: {OPPORTUNITY_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét cơ hội này</a>.</p>
<!-- END: Opportunity -->

<!-- BEGIN: Bug_Subject -->
<p>SuiteCRM lỗi - {BUG_SUBJECT}</p>
<!-- END: Bug_Subject -->
<!-- BEGIN: Bug -->
<p><b>{ASSIGNER}</b> đã chỉ định một lỗi với <b>{ASSIGNED_USER}</b>.</p>
<p>
Số hiệu lỗi: {BUG_BUG_NUMBER}<br /> 
Chủ đề: {BUG_SUBJECT}<br /> 
Loại: {BUG_TYPE}<br /> 
Ưu tiên: {BUG_PRIORITY}<br /> 
Trạng thái: {BUG_STATUS}<br /> 
Độ phân giải: {BUG_RESOLUTION}<br /> 
Phát hành: {BUG_RELEASE}<br /> 
Mô tả: {BUG_DESCRIPTION}<br /> 
Nhật ký làm việc: {BUG_WORK_LOG}
</p>
<p>Bạn có thể <a href={URL}>xem lại lỗi này</a>.</p>
<!-- END: Bug -->

<!-- BEGIN: Default_Subject -->
<p>SuiteCRM - Chỉ định {OBJECT}</p>
<!-- END: Default_Subject -->
<!-- BEGIN: Default -->
<p><b>{ASSIGNER}</b> đã chỉ định a(n) {OBJECT} cho <b>{ASSIGNED_USER}</b>.</p>
<p>Bạn có thể <a href={URL}>xem xét này {OBJECT}</a>.</p>
<!-- END: Default -->

<!-- BEGIN: Call_Subject -->
<p>Cuộc gọi SuiteCRM - {CALL_SUBJECT}</p>
<!-- END: Call_Subject -->
<!-- BEGIN: Call -->
<p>Đến: {CALL_TO}</p>
<p><b>{ASSIGNER}</b> đã mời bạn đến một cuộc gọi</p>
<p>
Chủ đề: {CALL_SUBJECT}<br /> 
Trạng thái: {CALL_STATUS}<br /> 
Ngày bắt đầu: {CALL_STARTDATE}<br /> 
Thời gian thực hiện: {CALL_HOURS}h, {CALL_MINUTES}m<br /> 
Mô tả: {CALL_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Chấp nhận cuộc gọi này</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Tạm chấp nhận cuộc gọi này</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Từ chối cuộc gọi này</a>.</p>
<!-- END: Call -->

<!-- BEGIN: CallSpecial_Subject -->
<p>Cuộc gọi SuiteCRM - {CALL_SUBJECT}</p>
<!-- END: CallSpecial_Subject -->
<!-- BEGIN: CallSpecial -->
<p><b>{ASSIGNER}</b> đã chỉ định một cuộc gọi đến <b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {CALL_SUBJECT}<br />
Trạng thái: {CALL_STATUS}<br />
Ngày bắt đầu: {CALL_STARTDATE}<br />
Thời gian thực hiện: {CALL_HOURS}h, {CALL_MINUTES}m<br />
Mô tả: {CALL_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem lại các cuộc gọi này</a>.</p>
<!-- END: CallSpecial -->

<!-- BEGIN: CallReminder_Subject -->
<p>Lời nhắc cuộc gọi - {CALL_SUBJECT}</p>
<!-- END: CallReminder_Subject -->
<!-- BEGIN: CallReminder -->
<p>
    Tiêu đề: {CALL_SUBJECT} <br />
    Khi: {CALL_STARTDATE} <br />
    Tạo bởi: {CALL_CREATED_BY}<br />
    Vị trí: {CALL_LOCATION}<br />
    Tên liên hệ: {CALL_CONTACT}<br/>
	Di động: {CALL_PHONE}<br/>
	Địa chỉ: {CALL_ADDRESS}<br/>
	Công ty: {CALL_NAME}
</p>
<!-- END: CallReminder -->

<!-- BEGIN: Campaign_Subject -->
<p>Chiến dịch SuiteCRM - {CAMPAIGN_NAME}</p>
<!-- END: Campaign_Subject -->
<!-- BEGIN: Campaign -->
<p><b>{ASSIGNER}</b> đã chỉ định một chiến dịch để <b>{ASSIGNED_USER}</b>.</p>
<p>
Chủ đề: {CAMPAIGN_NAME}<br /> 
Ước lượng: {CAMPAIGN_AMOUNT}<br /> 
Đóng cửa ngày: {CAMPAIGN_CLOSEDATE}<br /> 
Trạng thái: {CAMPAIGN_STATUS}<br /> 
Mô tả: {CAMPAIGN_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét lại chiến dịch này</a>.</p>
<!-- END: Campaign -->

<!-- BEGIN: Quota_Subject -->
<p>Dung lượng SuiteCRM - hạn ngạch của bạn cho {QUOTA_TIMEPERIOD}</p>
<!-- END: Quota_Subject -->
<!-- BEGIN: Quota -->
<p><b>{ASSIGNER}</b> đã chỉ định một hạn ngạch cho <b>{ASSIGNED_USER}</b>.</p>
<p>
Dung lượng: {QUOTA_AMOUNT}<br /> 
Thời hạn: {QUOTA_TIMEPERIOD}
</p>
<p>Bạn có thể <a href={QUOTA_URL}>xem xét chuyển nhượng hạn ngạch này</a>.</p>
<!-- END: Quota -->

<!-- BEGIN: KBDocument_Subject -->
<p>Tài liệu SuiteCRM - {KBDOCUMENT_NAME}</p>
<!-- END: KBDocument_Subject -->
<!-- BEGIN: KBDocument -->
{NOTIFICATION_MESSAGE}

<p>
Tên: {KBDOCUMENT_NAME}<br /> 
Cập nhật ngày: {KBDOCUMENT_DATE_CREATED}<br /> 
Tạo bởi: {KBDOCUMENT_CREATED_BY}<br /> 
Trạng thái: {KBDOCUMENT_STATUS}<br /> 
Mô tả: {KBDOCUMENT_DESCRIPTION}
</p>
<p>Bạn có thể <a href={URL}>xem xét tài liệu này</a>.</p>
<!-- END: KBDocument -->

<!-- BEGIN: Contract_Subject -->
<p>Hợp đồng SuiteCRM - {CONTRACT_NAME}</p>
<!-- END: Contract_Subject -->
<!-- BEGIN: Contract-->
<p><b>{ASSIGNER}</b> đã chỉ định một hợp đồng để <b>{ASSIGNED_USER}</b>.</p>
<p>Bạn có thể <a href={URL}>xem xét lại bản hợp đồng này</a>.</p>
<!-- END:Contract-->

<!-- BEGIN: ContractSpecial_Subject -->
<p>Hợp đồng SuiteCRM - {CONTRACT_NAME}</p>
<!-- END: ContractSpecial_Subject -->
<!-- BEGIN: ContractSpecial -->
<p>Hợp đồng của bạn: {CONTRACT_NAME} sẽ hết hạn tại {CONTRACT_END_DATE}.</p>
<p>Bạn có thể <a href={URL}>xem xét bản hợp đồng này</a>.</p>
<!-- END:ContractSpecial-->
