.search-tab {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        width: 200px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        margin-left: 10px;
    }
    .search-tab ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .search-tab li {
        padding: 10px;
        cursor: pointer;
        color: black; /* Màu chữ mặc định */
    }
    .search-tab li:hover {
        background-color: #f0f0f0; /* Màu nền khi di chuột qua */
    }
    /* Màu chữ cho từng loại thông tin */
    .name {
        color: black; /* Màu chữ cho tên */
        font-weight: bold;
    }
    .passport {
        color: black; /* Màu chữ cho passport */
        color: red;
        font-weight: bold;
    }

 /*relationship  */
   

.highlight {
    background-color: rgb(120 255 109);
}


.dropdown-list {
    /* CSS tùy chỉnh cho dropdown */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    background-color: white;
    max-height: 200px;
    width: 350px;
    overflow-y: auto;
    z-index: 1000; /* Giá trị z-index cao hơn để đảm bảo nằm trên các phần tử khác */
}

.dropdown-list li {
    /* CSS cho mỗi mục trong dropdown */
    padding: 8px 12px;
    cursor: pointer;
    color: black;
}

.dropdown-list li:hover {
    /* Hiệu ứng khi di chuột qua */
    background-color: #f0f0f0;
}

.code {
    color: red;
    font-weight: bold;
}

.code2 {
    color: blue;
    font-weight: bold;
}
