
.leadCardContainer
{
    background: whitesmoke !important;
}

.leadColumn {
    margin-left: 5px;
    margin-right: 5px;
    background: whitesmoke !important;
}

.text-black, .text-black option{
    color: black !important;
}

.modal-header {
    height: 40px !important;
    padding: 10px 10px 10px 10px !important;
    background-color: #FFD800 !important;
}

.modal-body .tab-content {
    padding-bottom: 5px !important;
}
.modal-footer {
    padding: 5px 5px 5px 5px !important;
}


.leadColumnHeader {
    background: white !important;
}

.summaryColumn {
    background: #fcd704 !important;
    width: 100% !important;
    padding: 5px 5px 5px;
    height: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.totalAmountColumn {
    height: 70% !important;
}

.activityColumn {
    height: 30% !important;
}

.activityColumn .suitepicon {
    font-size: 30px !important;
}

.searchRow {
    margin-left: 1px;
    margin-right: 1px;
    background: white !important;
}

.searchColumn {
    background: white !important;
    border: none !important;
    width: 100% !important;
    border-radius: unset !important;
    height: 35px !important;
}

.new {
    background:  #fcd704 !important;;
}

.in-progress {
    background: #97fdcf !important;
}

.contract {
    background: #2fe1d7 !important;
}

.order {
    background: #37c5be !important;
}

.totalLead {
    font-size: 40px;
    height: 100% !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

#total_records {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Tooltip */
.custom-tooltip-inner {
    background-color: #73AD21 !important;
    color: #FFFFFF !important;
    border: 1px solid green !important;
    padding: 15px !important;
    font-size: 20px !important;
}


.totalAmount {
    padding-top: 30px !important;
}

.leadColumn > .panel-body > .cards {
    padding: 5px 10px 5px 10px !important;
    max-height: 400px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    max-width: 100% !important;
    background: white !important;
    margin-top: 5px !important;
    min-height: 400px !important;
}

.virtualCard {
    min-height: 50px;
}

#info
{
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

.notification-counter {
    position: absolute;
    z-index: 1;
    left: 62%;
    top: -5px;
    background: #ea1818 !important;
}

.leadCard {
    margin: 0px 0px 0px 0px !important;
    border-radius: unset !important;
}

.filter-icon, .arrow-icon {
    padding-top: 12px !important;
}
.card-order-column {
    padding-top: 2px !important;
}

.card_order_by {
    background: unset !important;
    border: unset !important;
}

.card-actions {
    display: block;
    position: absolute;
    top: 0px;
    right: 16px;
    width: 90px;
    background: #fcd704 !important;
    display: none;
    z-index: 2;
}

.card-actions liii:last-child {
    border-right: 1px solid whitesmoke;
}

.card-action:hover {
    background: #efc902;
}

.card-action {
    float: right;
    width: 30px !important;
}
.card-action > a {
    color: unset!important;
}

textarea#description {
    width: 100% !important;
}

.activity_action {
    color: unset !important;
}

.add-new-card {
    float: right;
}

.add-new-card:hover {
    cursor: pointer;
    color: white;
}

.caseOpening {
    background: red;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0px;
    right: -5px;
    color: white;
    width: 15px;
    height: 15px;
}

.ui-datepicker-trigger {
    margin-left: 5px !important;
}

/*
 *  STYLE 1
 */

.style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar {
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #E6E6E6;
}

.modal-body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.modal-body::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.modal-body::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.MTSSpinner{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    z-index: 9999;
    opacity: 0.5;
}

#form_SubpanelQuickCreate_Opportunities  #EditView_tabs  input, #form_SubpanelQuickCreate_Opportunities  #EditView_tabs  select{
    float: left !important;
}

#form_SubpanelQuickCreate_Opportunities .date_input{
    width: 70% !important;
}

@media only screen and (max-width: 480px){
  #callText, #meetingText, #emailText, #contractText, #caseText, #opportunityText, #contactText, #documentText, #invoiceText, #noteText, #quoteText, #billText {
      display: none;
  }
}

