@media all and (max-width: 900px){
  #callText, #meetingText, #emailText, #contractText, #caseText, #opportunityText, #contactText, #documentText, #invoiceText, #noteText, #quoteText, #billText {
      display: none;
	  
  }
  #call, #meeting, #email, #contract, #case, #opportunity, #contact, #document, #invoice, #note, #quote, #bill {
	  width: 22px;
	  height: 22px;
	}
}