.div-image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}



.size-product td {
    text-align: center;

}

.size-product th{
    text-align: center;
    background-color: rgb(86, 156, 201);
    font-weight: bold;
    color: white;

}

.panel-body {
    border-width: 3px; /* Độ dày của border */
    border-style: solid; /* Kiểu nét của border */
    
    /* Sử dụng linear-gradient để tạo hiệu ứng màu ngã */
    border-image: linear-gradient(to right, rgb(96, 102, 156), rgba(88, 191, 175, 0.82)) 1;

}



.content {
    width: 86%;
    padding: 20px; /* Để làm đẹp, tùy chỉnh padding theo ý muốn */
    background-color: white; /* Màu nền của div */
    margin: 0 auto; /* Đặt margin trên và dưới là 0, và căn giữa bằng cách sử dụng margin auto */
    padding-left: 10px; /* Để làm đẹp, tùy chỉnh padding theo ý muốn */
    padding-right:10px;
    padding-top:10px;
    padding-bottom:0px;



}

.text-bold {
    color: blue; /* Màu chữ là blue */
    color: rgb(62, 61, 83);
    font-size: 16px; /* Kích thước font là 14px */
    font-weight: bold;
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
    display: -webkit-box; /* Đặt hiển thị thành box */
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    -webkit-box-orient: vertical; /* Hiển thị theo chiều dọc */


}
.text-description {
    font-size: 15px; /* Kích thước font là 14px */
    font-style: italic; /* Chữ nghiêng */
    color: blue; /* Màu chữ là blue */
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
    display: -webkit-box; /* Đặt hiển thị thành box */
    -webkit-line-clamp: 5; /* Số dòng tối đa */
    -webkit-box-orient: vertical; /* Hiển thị theo chiều dọc */

}
