.zoom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 999;
}

.zoom-overlay img {
    width: 99%;
    height: 99%;   

}


.overlay-container {
    position: absolute;
    top: 55%; /* Sửa giá trị top thành 45% */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
}



.overlay-container .close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 16px;
    color: white;
    cursor: pointer;
     background-color: #ff4b66;
    padding: 3px 10px;
    border-radius: 5px; /* Radius 5px */
}


