    #hiddenInputs {
        display: flex;
        flex-wrap: wrap; /* Cho phép các phần tử tự động xuống hàng khi không đủ chỗ trên hàng hiện tại */
    }

    .extra_image {
        margin-right: 0px; /* Khoảng cách giữa các input */
        padding: 0px;
    }


    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Các phần tử nằm cách nhau */
    }

    .image-wrapper {
        margin-bottom: 20px; /* Khoảng cách giữa các hình ảnh */
        text-align: center;
    }


    /* Add this style to make the delete button smaller */
    .delete-button {
        font-size: 10px; /* Adjust the font size as needed */
        padding: 0px 10px; /* Adjust the padding as needed */
    }


