/* styles.css */
.width-bold {
    font-weight: bold;
}
#data-excel {
    width: 200%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#data-excel th, #data-excel td {
    padding: 10px;
    border: 1px solid #ccc;
}

#data-excel th {
    background-color: #f0f0f0;
    font-weight: bold;
}



#data-excel tr:nth-child(1) td {
    background-color: yellow;
    color: red;
    padding: 10px;
    border: 1px solid #ccc;
}
#data-excel td {
    background-color: white; /* Thiết lập nền màu trắng cho tất cả các ô dữ liệu */
}
#data-excel th {
    color: black;
    font-size: 15px;
    text-align: center;
}


#data-excel {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

/* Cố định hàng đầu tiên */
#data-excel thead tr:nth-child(1) {
    position: sticky;
    top: 50px; /* Cố định ở phía trên */
    background-color: #fff; /* Màu nền để phân biệt */
    z-index: 10; /* Đảm bảo hàng không bị che khuất */
}



/* Highlighted text */
.highlight {
    color: blue; /* Màu xanh cho phần tô sáng */
    background-color: yellow; /* Nền vàng cho phần tô sáng */
    text-decoration: underline; /* Gạch chân phần tô sáng */
    position: relative; /* Đặt vị trí tương đối để có thể sử dụng thuộc tính top */
    top: -1px; /* Nâng phần chữ lên 1px */

}

/* Link styles */
.link a {
    color: blue; /* Màu xanh cho liên kết */
    text-decoration: underline; /* Gạch chân liên kết */
}

.link a:hover {
    color: darkblue; /* Màu xanh đậm khi di chuột qua liên kết */
}

#data-excel tr th:nth-child(1) {
    width: 4%;
}
#data-excel tr th:nth-child(2) {
    width: 5%;
}
#data-excel tr th:nth-child(3) {
    width: 2%;
}
#data-excel tr th:nth-child(4) {
    width: 2%;
}
#data-excel tr th:nth-child(5) {
    width: 1%;
}
#data-excel tr th:nth-child(6) {
    width: 1%;
}
#data-excel tr th:nth-child(7) {
    width: 3%;
}
#data-excel tr th:nth-child(8) {
    width: 3%;
}
#data-excel tr th:nth-child(9) {
    width: 8%;
}

#data-excel tr th:nth-child(12) {
    width: 2%;
}
#data-excel tr th:nth-child(13) {
    width: 3%;
}
#data-excel tr th:nth-child(14) {
    width: 3%;
}
#data-excel tr th:nth-child(15) {
    width: 3%;
}
#data-excel tr th:nth-child(16) {
    width: 3%;
}
#data-excel tr th:nth-child(17) {
    width: 3%;
}
#data-excel tr th:nth-child(18) {
    width: 3%;
}
#data-excel tr th:nth-child(19) {
    width: 3%;
}
#data-excel tr th:nth-child(20) {
    width: 3%;
}
#data-excel tr th:nth-child(21) {
    width: 3%;
}
#data-excel tr th:nth-child(22) {
    width: 3%;
}
#data-excel tr th:nth-child(23) {
    width: 3%;
}
#data-excel tr th:nth-child(24) {
    width: 3%;
}
#data-excel tr th:nth-child(25) {
    width: 3%;
}
#data-excel tr th:nth-child(26) {
    width: 3%;
}
#data-excel tr th:nth-child(27) {
    width: 3%;
}
#data-excel tr th:nth-child(28) {
    width: 3%;
}
#data-excel tr th:nth-child(29) {
    width: 6%;
}
#data-excel tr th:nth-child(30) {
    width: 6%;
}
#data-excel tr th:nth-child(31) {
    width: 3%;
}
#data-excel tr th:nth-child(32) {
    width: 3%;
}
#data-excel tr th:nth-child(33) {
    width: 3%;
}


/* styles.css */
#spinner {
    border: 7px solid white; /* Màu nền của spinner */
    border-top: 7px solid #3498db; /* Màu của phần spinner quay */
    border-radius: 50%;
    width: 40px; /* Kích thước nhỏ hơn */
    height: 40px; /* Kích thước nhỏ hơn */
    animation: spin 0.4s linear infinite;
    position: fixed; /* Giữ spinner ở giữa màn hình */
    left: 50%;
    top: 50%; /* Đặt spinner ở giữa màn hình */
    transform: translate(-50%, -50%);
    display: none; /* Ẩn spinner mặc định */
    z-index: 100; /* Đặt spinner lên trên cùng */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pagination {
        margin-top: 10px;
        text-align: right;
    }
    
    .pagination button {
        padding: 10px 15px;
        margin: 0 2px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    
    .pagination button:hover {
        background-color: #0056b3;
    }
    
    .pagination button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        padding-top: 0px;

    }
    
    .hidden {
        display: none;
    }