#table_search {
    border-collapse: separate; /* Đảm bảo các viền của các ô cách nhau */
    border-spacing: 10px; /* Khoảng cách giữa các ô là 10px */
}

#table_from_search {
    border-collapse: separate; /* Đảm bảo các viền của các ô cách nhau */
    border-spacing: 10px; /* Khoảng cách giữa các ô là 10px */
}


.title {
    font-size: 16px;
    padding: 15px;
    font-style: italic;
    color: blue;
}

#table-inventory th {
     font-size: 15px;
     text-align: center;
}

#table-inventory .td-mid {
     text-align: center;
}
.beginning_balance {
    background-color: yellow;
}

.ending_balance {
    background-color: green;
    color: white;
}