<div class="row">
    <div id="list" class="col-lg-6 col-xs-12 col-sm-6">
        {$sub_panels}
    </div>
    <div id="preview" class="col-lg-6 col-xs-12 col-sm-6">
        <div class="panel panel-default" style="margin-top: 25px;">
            <div class="panel-heading" style="padding-top: 5px">
            </div>
            <div class="panel-content" style="padding: 5px 5px 5px 5px !important">
            </div>
        </div>
    </div>
</div>